section {
  border: 3px solid blue;
  margin-top: 10px;
  padding: 10px;
  border-radius: 3cap;
  width: 300px;
}
label {
  margin-top: 5px;
}
h3 {
  color: white;
  background-color: rgb(1, 1, 201);
  padding: 3px;
  border-radius: 5cap;
  text-align: center;
}
h4 {
  margin-top: 1px;
  margin-bottom: 0px;
  font-style: italic;
  font-weight: normal;
  color: seagreen;
}
button {
  margin-top: 10px;
  background-color: blue;
  color: white;
  border-radius: 1cap;
  padding: 5px;
  font-size: 10px;
}
input {
  width: 80px;
}
table,
th,
td {
  border: 1px solid black;
  text-align: center;
}
#inventario {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#ficha {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
}
#mainForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.colCurrency {
  text-align: right;
  padding-left: 10px;
}
.colNumber {
  column-width: 50px;
}
.divSalida {
  display: flex;
  flex-direction: column;
}
.spanInfo {
  font-size: 10px;
  font-style: italic;
  color: rgb(0, 0, 0);
}
